/* ==========================================================================
    Footer Site Styling
   ========================================================================== */
   .site-footer {
    color: white;
    font-size: 23px;
  }
  .site-footer a {
    color: white;
    font-size: 24;
  }
  .site-footer a:hover {
    color: #bfddf0;
  }
  .site-footer h3.widget-title {
    font-weight: 600;
    color: white;
    margin: 0 0 30px 0;
    font-size: 5.4em;
  }
  
  .footer-widget {
    margin-bottom: 30px;
  }
  
  .our-partner {
    background-color: #b3d7fd;
    padding: 15px;
    position: relative;
  }
  .our-partner .item {
    margin: 0 15px;
    overflow: hidden;
  }
  .our-partner .item img {
    width: 100%;
  }
  .our-partner .customNavigation .prev, .our-partner .customNavigation .next {
    position: absolute;
    top: 20%;
    font-size: 34px;
  }
  .our-partner .customNavigation .prev {
    left: -10px;
  }
  .our-partner .customNavigation .next {
    right: -10px;
  }
  
  .main-footer {
    background-color: #fffbd2;
    padding: 50px 0 0 0;
    font-size: 12px;
  }
  .main-footer ul {
    padding: 0;
    margin: 0;
    list-style: square;
    list-style-position: inside;
    font-size: 12px;
  }
  .main-footer ul li a {
    display: inline-block;
    line-height: 20px;
    margin-bottom: 10px;
    font-size: 12px;
  }
  
  ul.follow-us {
    margin-top: 30px;
  }
  ul.follow-us li {
    display: block;
    margin-bottom: 10px;
  }
  ul.follow-us li a {
    background-color: #b3d7fd;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    padding: 10px 25px;
    display: inline-block;
    border: 1px solid white;
  }
  ul.follow-us li a i {
    margin-right: 25px;

  }
  
  .newsletter {
    padding: 20px;
    background-color: #b3d7fd;
  }
  .newsletter p {
    margin: 0 0 20px 0;
    font-size: 14px;
    text-align: left;
  }
  .newsletter input {
    -webkit-backface-visibility: hidden;
    /* Chrome, Safari, Opera */
    backface-visibility: hidden;
    outline: 0;
    border: 0;
    height: 38px;
    padding: 0 10px;
    width: 60%;
    font-size: 12px;
  }
  .newsletter input[type=submit] {
    width: auto;
    background-color: #6091c5;
    color: white;
    padding: 0 25px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
  }
  
  .bottom-footer {
    background-color: #b3d7fd;
    border-top: 1px solid #2a80b9;
    padding: 20px 0;
    font-size: 12px;
  }
  .bottom-footer span {
    display: block;
    margin-bottom: 10px;
  }
  .bottom-footer p {
    width: 100%;
    margin: 0 auto;
    
  }
  