/* ----- Variables ----- */
$color-primary: #4c4c4c;
$color-secondary: #a6a6a6;
$color-highlight: #ff6e40;

/* ----- Global ----- */
* {
	box-sizing: border-box;
}

.infos_details
{

margin-top: 30px;
	display: inline-flex;
	margin-left: 50px;
}


body {
	display: grid;
	grid-template-rows: 1fr;
	font-family: "Raleway", sans-serif;
	background-color: white;
}

h3 {
	font-size: 0.7em;
	letter-spacing: 1.2px;
	color: $color-secondary;
}

li img {
	max-width: 100%;
	filter: drop-shadow(1px 1px 3px $color-secondary);
}

/* ----- Product Section ----- */
.product {
	display: grid;
	grid-template-columns: 0.9fr 1fr;
	margin: auto;
	padding: 2.5em 0;
	width:90%;
	background-color: #ffdc91;
	border-radius: 5px;
}

/* ----- Photo Section ----- */
.product__photo {
	position: relative;
}

.photo-container {
	position: absolute;
	left:20px;
	background-color: #fff;
	display: grid;
	grid-template-rows: 1fr;
	width: 90%;
	height: 100%;
	border-radius: 6px;
	box-shadow: 4px 4px 25px -2px rgba(0, 0, 0, 0.3);
}

.photo-main {
	border-radius: 6px 6px 0 0;

	.controls {
		display: flex;
		justify-content: space-between;
		padding: 0.8em;
		color: rgb(209, 189, 189);
font-size: 25px;


		i {
			box-shadow: 4px 4px 25px -2px #ebe8e3;
			cursor: pointer;
		}
	}

	img {
		position: absolute;
left:30%;
		top: 1em;
	border-radius: 10%;
	
		width: 50%;
		filter: saturate(150%) contrast(150%) hue-rotate(10deg)
			
	}
}
.rateReduction
{
	margin-left: 2%;
	background-color: #a6a6a6;
}
.reduction
{
	position: relative;
bottom: 10%;
font-size: 20px; 
color: #4c4c4c;
}

.photo-album {
	padding: 0.7em 1em;
	border-radius: 0 0 6px 6px;
	background-color: #fff;

	ul {
		display: flex;
		justify-content: space-around;
	}

	li {
		float: left;
		width: 55px;
		height: 55px;
		padding: 7px;
list-style-type: none;
		border-radius: 3px;
	}
	img{
border-radius: 2px;
		width: 100px;
		height: 55px;
	};
	img:hover{
		transform: rotate(15deg) 
	
			};
}

/* ----- Informations Section ----- */
.product__info {
	padding-right: 30%;
}

.title {
	h1 {
		margin-bottom: 0.1em;
		color: $color-primary;
		font-size: 1.5em;
		font-weight: 900;
	}

	span {
		font-size: 0.7em;
		color: $color-secondary;
	}
}

.price {
	margin: 1.5em 0;
	color: $color-highlight;
	font-size: 1.2em;

	span {
		padding-left: 0.15em;
		font-size: 2.9em;
	}
}


.description p{
padding-left: 30%;
text-align: left;

font-family: Verdana;
}

.buy--btn {
	padding: 1.5em 3.1em;
	border: none;
	border-radius: 7px;
	font-size: 0.8em;
	font-weight: 700;
	letter-spacing: 1.3px;
	color: #fff;
	background-color: $color-highlight;
	box-shadow: 2px 2px 25px -7px $color-primary;
	cursor: pointer;

	&:active {
		transform: scale(0.97);
	}
}
.buy--btn:hover{
transform: scale(1.1);
}
/* ----- Footer Section ----- */
footer {
	padding: 1em;
	text-align: center;
	color: #fff;

	a {
		color: $color-primary;

		&:hover {
			color: $color-highlight;
		}
	}
}


.fiche
{p{
padding-left: 10px;
};
	
	font-family: verdana;

	border-style: outset;
	margin-left: 85px;
max-width: 75%;
word-wrap: break-word;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}





.des
{
	
	padding-left: 2px;
font-family: Verdana;
	width: 100%;
	
}
.des-title
{
	h1{
		font-weight: bolder;
		font-size: 15px;
		margin-left: 3px;
			}
	height: 30px;
	border-bottom-style: outset;
}







.principal
{


	font-family: Verdana;
	padding-left: 2px;

	width: 100%;
}
.principal-title
{


	h1{
		font-weight: bolder;
		font-size: 15px;
		margin-left: 3px;
			}
	height: 30px;
	border-bottom-style: outset;
}

.detail
{

	border-style: outset;
	margin-left: 50%;
width: 30%;
height: 50%;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.fiche-title
{
	h1{
font-weight: bolder;
font-size: 20px;
margin-left: 3px;
color:#ff6e40;
	}

	
	padding:2px;
border-bottom-style: outset;

	margin-bottom: 50px;
	background-color: #000000;;
	width: 100%;
	
}