
/**********************************/
/********** Top Bar CSS ***********/
/**********************************/
.top-bar {
    padding: 3px 0;
    font-size: 15px;
    font-family: Verdana;
    color: white;
    background:  #ff6e40;
}

.top-bar i {
    margin-right: 5px;
}

.top-bar .col-sm-6:first-child {
    text-align: left;
}

.top-bar .col-sm-6:last-child {
    text-align: right;
}

@media (max-width: 575.98px) {
  .top-bar {
      border-bottom: 1px solid rgba(255,255,255,.1);
  }
  
  .top-bar .col-sm-6:first-child,
  .top-bar .col-sm-6:last-child {
      text-align: center;
  }
}


/**********************************/
/*********** Nav Bar CSS **********/
/**********************************/
.nav {
    position: relative;
}

@media (min-width: 992px) {
    .nav .container-fluid {
        padding-left: 52px;
        padding-right: 52px;
    }
}

.nav .navbar {
    height: 100%;
    padding: 0;
}


.nav .dropdown-menu {
  margin-top: 0;
  border: 0;
  border-radius: 0;
  background: #ffdc91;
  font-size: 12px;
}


@media (min-width: 768px) {
    .nav,
    .nav .navbar {
      font-family: Verdana;
        background:  #ffdc91!important;
    }
    
    .nav .navbar-brand {
        display: none;
    }
    
    .nav .navbar-dark a.nav-link {
        color: #181414;
        font-size: 14px;
        text-transform: uppercase;
    }
    
    .nav .navbar-dark a.nav-link:hover,
    .nav .navbar-dark a.nav-link.active {
        color: #ff6e40;
    }
}

@media (max-width: 768px) {
    .nav {
        padding: 5px 0;
    }
    
    .nav,
    .nav .navbar {
        background: #000000 !important;
    }
    
    .nav a.nav-link {
        padding: 5px 0;
        font-size: 12px;
    }
    
    .nav .dropdown-menu {
        box-shadow: none;
    }
}


/**********************************/
/********* Bottom Bar CSS *********/
/**********************************/
.bottom-bar {
    padding: 15px 0;
    background: #ffffff;
    margin-bottom: 30px;
}
.siteNameLink
{
  text-decoration-line: none;
}
.siteName
{
  color:#ff6e40;
  font-size: 25px;
  font-weight: bolder;
  text-decoration-line: none;
  font-family:  'Arial black';
}
.bottom-bar .logo {
    text-align: left;
    overflow: hidden;
}

.bottom-bar .logo a img {
    max-height:80px;
    padding-left: 20%;
    
}

.bottom-bar .search {
    width: 100%;
    font-size: 15px;
}

.bottom-bar .search input[type=text] {
    width: 100%;
    height: 50px;
    padding: 15px;
    color: black;
    border: 1px solid  #ff6e40;
  
    border-radius: 4px;
    font-size: 15px;
}

.bottom-bar .search button {
    position: absolute;
    width: 40px;
    height: 50px;
    font-size: 12px;
    border-color: #ff6e40;
  
    background: none;
    color: #ff6e40;
    border:#ff6e40;
}

.bottom-bar .search button:hover {
 
  
    font-size: 12px;
}


.bottom-bar .user {
    font-size: 0;
    text-align: right;
}

.bottom-bar .user .wishlist {
    margin-right: 15px;
    font-size: 15px;
    border-color:#ff6e40;;
}

.bottom-bar .user .wishlist:hover {
  background:white;
}


.bottom-bar .user .cart {
    margin-right: 15px;
    font-size: 15px;
    border-color:  #ff6e40;
}

.bottom-bar .user .cart:hover {
  background: white;
}

.bottom-bar .user .cart i,
.bottom-bar .user .wishlist i {
    color:  #ff6e40;;
    font-size: 15px;
    border-color: #ff6e40;
}

.bottom-bar .user .cart span,
.bottom-bar .user .wishlist span {
    color:  #ff6e40;;
    font-size: 15px;
}

.bottom-bar .user .cart:hover i,
.bottom-bar .user .wishlist:hover i,
.bottom-bar .user .cart:hover span,
.bottom-bar .user .wishlist:hover span {
    color: #ffdc91;
    font-size: 15px;
}

@media (min-width: 768px) {
    .bottom-bar {
        max-height: 90px;
    }
}

@media (max-width: 900px) {
    .bottom-bar .logo,
    .bottom-bar .search,
    .bottom-bar .user {
        text-align: center;
        margin-bottom: 15px;
    }
    
    .bottom-bar .user {
        margin-bottom: 0;
    }
}


/* ==========================================================================
    Footer Site Styling
   ========================================================================== */
   .site-footer {
    color: white;
    font-size: 13px;
  }
  .site-footer a {
    color: white;
  }
  .site-footer a:hover {
    color: #e6e5de;
  }
  .site-footer h3.widget-title {
    font-weight: 600;
    color: white;
    margin: 0 0 30px 0;
    font-size: 1.4em;
  }
  
  .footer-widget {
    margin-bottom: 40px;
  }
  
  .our-partner {
    background-color: #e6e5de;
    padding: 15px;
    position: relative;
  }
  .our-partner .item {
    margin: 0 15px;
    overflow: hidden;
  }
  .our-partner .item img {
    width: 100%;
  }
  .our-partner .customNavigation .prev, .our-partner .customNavigation .next {
    position: absolute;
    top: 20%;
    font-size: 24px;
  }
  .our-partner .customNavigation .prev {
    left: -10px;
  }
  .our-partner .customNavigation .next {
    right: -10px;
    font-size: 12px;
  }
  
  .main-footer {
    background-color:#ffdc91;
    padding: 50px 0 0 0;
    font-size: 12px;
  }
  .main-footer ul {
    padding: 0;
    margin: 0;
    list-style: square;
    list-style-position: inside;
    font-size: 12px;
  }
  .main-footer ul li a {
    display: inline-block;
    line-height: 20px;
    margin-bottom: 10px;
    font-size: 12px;
  }
  
  
  ul.follow-us {
    margin-top: 30px;
    font-size: 12px;
  }
  ul.follow-us li {
    display: block;
    margin-bottom: 10px;
    font-size: 12px;
  }
  ul.follow-us li a {
    background-color: #e6e5de;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    padding: 10px 25px;
    display: inline-block;
    border: 1px solid white;
  }
  ul.follow-us li a i {
    margin-right: 25px;
    font-size: 12px;
  }
  
  .newsletter {
    padding: 20px;
    background-color: #e6e5de;
    font-size: 12px;
  }
  .newsletter p {
    margin: 0 0 20px 0;
    font-size: 14px;
    text-align: left;
  }
  .newsletter input {
    -webkit-backface-visibility: hidden;
    /* Chrome, Safari, Opera */
    backface-visibility: hidden;
    outline: 0;
    border: 0;
    height: 38px;
    padding: 0 10px;
    width: 64%;
  }
  .newsletter input[type=submit] {
    width: auto;
    background-color:#c7c4c4;
    color: white;
    padding: 0 25px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
  }






















  
  .bottom-footer {
    background-color: #e6e5de;
    border-top: 1px solid #e6e5de;
    padding: 20px 0;
    font-size: 12px;
  }
  .bottom-footer span {
    display: block;
    margin-bottom: 10px;
  }
  .bottom-footer p {
    width: 70%;
    margin: 0 auto;
  }



