@media (min-width: 768px) {
    #contable {
        height: 200px;
        background-color: #ffdc91;
    }
}
.box {
    margin-left: 100px;
    margin-right: 100px;
   
}
h1{
    font-size: 20px;
    color: #ff6e40;
    margin-bottom: 40px;
    margin-top: 20px;

}
 h2{
     font-size: 18px;
     color: white;
     margin-bottom: 40px;
     margin-top: 20px;

 }
h6 {
    color: white;
    font-size: 14px;
}

 .Pannier .row .col {
    font-size: 18px;
    color: gray;
    margin-bottom: 20px;
 }
 .Pannier .row .col-5 {
    font-size: 18px;
    color: gray;
}
 
.Item-panier
{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin-bottom: 20px;
    
    
}
.Item-panier .row .col-5 img{
    margin-top: 10px;
    margin-bottom: -25px;
}

 .Item-panier .row .col {
     background-color: #ffdc91;
    
 }

 .Item-panier .row .col-5 {
    background-color: #ffdc91;

}

.Item-panier .row .col-5 a:hover{
        
    color: #ff6e40;
}

.Item-panier .row .col-5 a i{
        
    color: #ff6e40;
    margin-left: 80px;
    margin-bottom: 2px;
}

.Item-panier .row .col b big
{
    color: black;
   
}


.selectdiv {
    position: relative;
    min-width: 100px;
    margin: 35px 13%;
    width: 200px;
  }
  select::-ms-expand {
    display: none;
    border: none;
}


.Buy .btn2 {
    color: color;
    background-color: #ff6e40;
    font-size: 18px;
    margin-left:10px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
}



.Buy .btn1 {
    color: color;
    background-color: #ffdc91;
    font-size: 18px;
    margin-left: 70%;
    outline: none;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
  
   
}


.Buy {
   margin-bottom: 60px;

}

.Price {
    margin-left: 80%;
}

.Price p {
    font-size: 20px;
    color: #ff6e40;
    
}

.Price h3 {
    font-size: 16px;
    color: gray;
}

.Price h4 {
    font-size: 12px;
    color: rgb(184, 178, 178);
}
