@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

html {
  font-size: 50%;
  box-sizing: border-box;
}
body,
#root {
  height: 100vh;
  margin: 0;
}
body,
input,

button,
textarea {
 /*  font-family: Montserrat, Helvetica, Arial, sans-serif; */
  font-size: 2rem;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100%;
}

a {
  text-decoration: none;
  color: #000;
  
}
a:hover {
  color: #ff6e40; 
}

  


/*border*/



/*filtrage*/


.filter {
  flex: 2 20rem;
}
.filter div {
  flex: 1;
}
.sidebar .block .title_block, .sidebar .block p.h6, .sidebar #search_filters .title_block, .sidebar #search_filters > p.h6 {
  color: #121212;
  /* text-transform:unset; */
  font-size: 35px;
  /* padding: 5px 2; */
  font-weight: 700;
  position: relative;
  text-align: left;
  text-size-adjust: 12px;
  border-bottom: 8px solid #ff6e40 ;
}

.sidebar .h6{
  font-size: 25px;
  color:#ff6e40;
}

.column {
  float: left;
  width: 20%;
  padding: 18px;
  
  

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}






/**********************************/
/******** Product Item CSS ********/
/**********************************/
.product-item {
  position: relative;
  margin: 20px;
}

.product-item .product-title {
  padding: 15px;
  text-align: center;
  background: #000000;
  transition: all .3s;
  width: 250px;
}

.product-item:hover .product-title {
  background: #ff6e40;
}

.product-item .product-title a,
.product-item .product-title .ratting {
  position: relative;
  width: 100%;
}

.product-item .product-title a {
  margin-bottom: 5px;
  color: #ffffff;
  font-size: 18px;
}

.product-item .product-title .ratting i {
  font-size: 14px;
  color: #ff6e40;
}

.product-item .product-content .price span {
  margin-left: 12px;
  text-decoration: line-through;
  font-weight: 700;
  color: #e6e5de;
}

.product-item:hover .product-title a,
.product-item:hover .product-title .ratting i {
  color: #ffffff;
}

.product-item:hover .product-content .price span {
  color: #dddddd;
  width:250px;
}

.product-item .product-image {
  position: relative;
  overflow: hidden;

height: 100%

}

.product-item .product-image a {
  display: block;
  background: #ffffff;
  transition: .3s;
}

.product-item .product-image img {
  width: 100%; 

  transition: all .3s;
}

.product-item:hover .product-image img {
  transform: scale(1.2);
}

.product-item .product-image .product-action {
  position: absolute;
  width: 100%;
  height: 70%;
  top: 0;
  left: 0;
  display: flexbox;
  align-items: center;
  justify-content: center;
  background: #e6e5de;
  transition: all .3s;
  font-size: 0;
  z-index: 1;
  opacity: 0;
  font-size: 5px;
}

.product-item:hover .product-image .product-action {
  opacity: 1; 
}

.product-item .product-image .product-action a {
  display: inline-block;
  font-size: 20px;
  margin: 5px;
  text-align: center;
  color: #ffffff;
  background: #ff6e40;
  border: 1px solid #ffffff;
  border-radius: 4px;
  transition: all .3s;
 
}

.product-item:hover .product-image .product-action a {
  margin-top: 0;
}

.product-item .product-image .product-action a:last-child {
  margin-right: 0;
}

.product-item .product-image .product-action a:hover {
  color: #ff6e40;
  background: #ffffff;
  border: 1px solid #ff6e40;
}

.product-item .product-price {
  padding: 20px;
  background: #ff6e40;
  transition: all .3s;
  width: 240px;
}

.product-item:hover .product-price {
  background: #ff6e40;
}

.product-item .product-price h3 {
  display: inline-block;
  color: #ffffff;
  margin: 0;
  font-size: 25px;
}

.product-item .product-price h3 span {
  font-size: 26px;
}

.product-item .product-image .product-price .btn  {
  float: right;
  border: none;
  font-weight: bolder;
  color: black;
  background: white;
  font-size: 12px;
  top: 75%;
  margin-left: 12%;
}

.btnShop
{

  border: none;
position: relative;
font-size: 16px;
border-radius: 2px;
margin-left:35%;
text-align: center;
width: 100px;
font-weight: bold;

}


.btn:hover {

 transform: scale(1.05);
}
.product-item .product-price .btn i {
  margin-right: 5px;
}


.products {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  flex-direction: row;
  padding: auto;

  width: 75%;
  margin-top: 20px;
  list-style-type: none;
padding-left: 70px;
  padding-bottom: 30px;
}

.products {
  margin-left:250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  font-family: arial;

  
}

/*pagination*/
#react-paginate ul {
  display: inline-block;
  margin-left: 35px;
  padding-left: 0;
}

#react-paginate li {
  display: inline-block;
  border: 1px solid rgb(224, 224, 224);
  color: #000;
  cursor: pointer;
  margin-right: 3px;
  border-radius: 5px;
  margin-bottom: 5px;
}

#react-paginate li a {
    padding: 2px 5px;
    display: inline-block;
    color: #000;
    outline: none;
}

#react-paginate li.active a {
  background: #ff6e40;
  color: rgb(255, 255, 255);
  outline: none;
}





.eRmJbc
 {
     color: rgb(197, 26, 26);
 }


 /***********range slider*****************/
 
 

 .range-slider {
  width: 280px;
/* Match this to the SVG's x2 value */
  margin: auto;
  text-align: center;
  position: relative;
  height: 6em;
}
.range-slider svg,
.range-slider input[type="range"] {
  position: absolute;
  left: 0;
  bottom: 0;
}
input[type="number"] {
  border: 1px solid #ddd;
  text-align: center;
  font-size: 1.6em;
}
input[type="number"]:invalid,
input[type="number"]:out-of-range {
  border: 2px solid #ff6347;
}
input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #2497e3;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #2497e3;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #2497e3;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: #2497e3;
  border-radius: 1px;
  box-shadow: none;
  border: 0;
}
input[type="range"]::-webkit-slider-thumb {
  z-index: 2;
  position: relative;
  box-shadow: 0px 0px 0px #000;
  border: 1px solid #2497e3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #a1d0ff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: #2497e3;
  border-radius: 1px;
  box-shadow: none;
  border: 0;
}
input[type="range"]::-moz-range-thumb {
  z-index: 2;
  position: relative;
  box-shadow: 0px 0px 0px #000;
  border: 1px solid #2497e3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #a1d0ff;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower,
input[type="range"]::-ms-fill-upper {
  background: #2497e3;
  border-radius: 1px;
  box-shadow: none;
  border: 0;
}
input[type="range"]::-ms-thumb {
  z-index: 2;
  position: relative;
  box-shadow: 0px 0px 0px #000;
  border: 1px solid #2497e3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #a1d0ff;
  cursor: pointer;
}

/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
