


.buynow{
  text-transform: uppercase;
border: #fff solid 1px;
background: #fff;
width: 196px;
padding: 12px 0;
display: inline-block;

font-size: 17px;
font-weight: bolder;
font-family: Verdana;
line-height: 30px;
color: #ff6e40;
box-shadow: 9px 9px 2px 1px  rgba(0, 0, 0, 0.086);
text-align: center;
border-radius: 30px;
}
.buynow:hover {
  transform: scale(1.1);
  background: #ff6e40;
  color: #fff;
}
ul.social_icon {
  list-style: none;
  padding-top: 5px;
}
ul.social_icon li {
  float: left;

align-items: center;
padding-right: 20px;
margin-top: 27px;
}
ul.social_icon li:last-child {
  padding-right: 0px;
}
ul.social_icon li a  {
color: white;
width: 40px;
height: 40px;

float: left;
text-align: center;
line-height: 40px;
border-radius: 25px;
font-size: 28px;
} 
ul.social_icon li a:hover
{

  transform: scale(1.1);
}
.instaLink
{

  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0,0,0,.25);
}
.twitLink
{
 
  background-color: #00ACEE;
}

.fabLink
{
  background-color: #3B5998;
}


.relative {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: left;
  bottom: auto;
}
.banner-main .carousel-caption span {
  font-size: 65px;
  font-weight: 500;
  line-height: 70px;
  color: rgb(17, 16, 16);
  padding-bottom: 10px;
  display: block;
  font-weight: bold;
}

.banner-main .carousel-caption h1 {
  color: rgb(17, 16, 16);
  font-size: 70px;
  line-height: 70px;
  font-weight: bold;
  padding: 20px 0px 50px 0px;
}

.banner-main .carousel-caption p {
  font-size: 17px;
  color: white;
  padding: 20px 0px 50px 0px;
}


