.section-header
{
    height: 10%;
    width: 90%;
    margin-left: 5%;
margin-top: 50px;
justify-content: center;
    box-shadow:5px 5px 5px 5px #ebe8e3;
    margin-bottom: 50px;
}
.section-header h1{

    color: #ff6e40;
    font-family: arial black;

}
/* Feature CSS */

.feature {
    position: relative;
}

.feature-col {
    margin-bottom: 5px;
}
.feature-content {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 30px 15px;
    text-align: center;

    background: #ffffff;
}





 /*Product Item CSS */

.product-item {
    position: relative;
    width: 250px;

    height: 500px;
    border-radius: 10px;
    
}

.product-item  .product-title {

  border-radius: 10px;
    text-align: center;

    transition: all .3s;
    width: 350px;
}


.product-item .product-title .Link,
.product-item .product-title .ratting {
    position: relative;
    width: 100%;
    
}

.product-item .product-title {
    margin-bottom: 5px;
    color: white;
    font-size: 13px;
   font-family: Verdana ;
}



.product-item .product-image {
    position: relative;
    overflow: hidden;
    width: 250px;
    height: 200px;
}

.product-item .product-image a {
    display: block;
 
    transition: .3s;
}

.product-item .product-image img {
    width: 100%; 
    height: 68%;
    transition: all .3s;
}

.product-itemhover .product-image img {
    transform: scale(1.2);
}

.product-item .product-image .product-action {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
 
    transition: all .3s;
    font-size: 0;
    z-index: 1;
    opacity: 0;
}

.product-itemhover .product-image .product-action {
    opacity: 1; 
}

.product-item .product-image .product-action a {
    display: inline-block;
    font-size: 16px;
    text-align: center;
 
    border: 1px solid #ffffff;
    border-radius: 4px;
    transition: all .3s;
    margin-bottom: 90px;
}

.product-item:hover .product-image .product-action a {
    margin-top: 0;
}

.product-item .product-image .product-action a:last-child {
    margin-right: 0;
}



.product-item .product-image .product-price {

 
    transition: all .3s;
    width: 350px;
   
}

.product-item .product-image .product-price h3 {
   display: inline-block;
   color: #ffffff;
   margin: 0;
   font-size: 25px;
}
.product-item .product-image .product-price .btn
{
    float: right;
    border: none;
    color: #ff6e40;
  
    font-size: 15px;
    position: relative;
    left: 40%;

   
    width: 100px;
}

.product-item .product-image .product-price span
{
    font-size: 20px;
}
.product-item .product-image.product-price h3 span {
    font-size: 26px;
}

.product-item .product-image .product-price .btn {
    float: right;
    border: #ff6e40;
    background: #ff6e40;
    font-size: 15px;
    position: absolute;
}
.product-item 
.product-itemhover .product-image .product-price .btn,
.product-item .product-image .product-price .btnhover {
    color: #ff6e40;
    background: #ffffff;
}

.product-item .product-image .product-price .btn i {
    margin-right: 5px;
}




.App {
   font-family: sans-serif;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 60vh;
 }
 .iconFashion,.iconFurniture,.iconComputer
 {
   
     background-image: url("../../icones/iconeFashion.jpg");
     background-size: 100% 100%;
     height: 90px;
  width: 90px;

  margin-left: 30%;
  border-radius: 20%;
     background-color: wheat;
     text-align: center;
     box-shadow:5px 5px 5px 5px #ebe8e3;
 }
 .iconFashion h4,.iconFurniture h4,.iconComputer h4{
padding-top: 120%;
    font-weight: bolder;

    font-family:Verdana;

 }
 .iconFashion
 {
    background-image: url("../../icones/iconeFashion.jpg");
  
 }
 .iconFurniture
 {
    background-image: url("../../icones/iconFurniture.jpg");
 }

 .iconFashion:hover,.iconFurniture:hover,.iconComputer:hover{
   transform: scale(1.1);
   box-shadow:5px 5px 5px 5px #ebe8e3;
 }
 .iconComputer
 {  background-image: url("../../icones/iconComputer.jpg");
 }



 .product-item
 {
height: 370px;
    top: 5%;

 }

 
 .product-titre
 {

    
    color: whitesmoke;
    text-align: center;
    width: 100%;
    font-size: 15px;
border-radius: 5px;
    background-color: black;
 }

 .product-item:hover .product-titre {
    background: #ff6e40;
  }

  .product-item:hover .ratting {
    color: white;
  }

 .ratting
 {
color: #ff6e40;
font-size: larger;
 }

 .product-action .a
 {
     size: 50%;
     background-color: #d4bcb5;
     color: rgb(144, 143, 146);
 }

 
 




 .product-item {
    position: relative;
    margin: 20px;
  }
  
  .product-item .product-title {
    padding: 15px;
    text-align: center;
    background: #000000;
    transition: all .3s;
    width: 250px;
  }
  
  .product-item:hover .product-title {
    background: #ff6e40;
  }
  
  .product-item .product-title a,
  .product-item .product-title .ratting {
    position: relative;
    width: 100%;
  }
  
  .product-item .product-title a {
    margin-bottom: 5px;
    color: #ffffff;
    font-size: 50px;
  }
  
  .product-item .product-title .ratting i {
    font-size: 14px;
    color: #ff6e40;
  }
  
  .product-item .product-content .price span {
    margin-left: 12px;
    text-decoration: line-through;
    font-weight: 700;
    color: #e6e5de;
  }
  
  .product-item:hover .product-title a,
  .product-item:hover .product-title .ratting i {
    color: #ffffff;
  }
  
  .product-item:hover .product-content .price span {
    color: #dddddd;
    width:250px;
  }
  
  .product-item .product-image {
    position: relative;
    overflow: hidden;
  
  height: 100%
  
  }
  
  .product-item .product-image a {
    display: block;
    background: #ffffff;
    transition: .3s;
  }
  
  .product-item .product-image img {
    width: 100%; 
  
    transition: all .3s;
  }
  
  .product-item:hover .product-image img {
    transform: scale(1.2);
  }
  
  .product-item .product-image .product-action {
    position: absolute;
    width: 100%;
    height: 70%;
    top: 0;
    left: 0;
    display: flexbox;
    align-items: center;
    justify-content: center;
    background: #e6e5de;
    transition: all .3s;
    font-size: 0;
    z-index: 1;
    opacity: 0;
    font-size: 5px;
  }
  
  .product-item:hover .product-image .product-action {
    opacity: 1; 
  }
  
  .product-item .product-image .product-action a {
    display: inline-block;
    font-size: 20px;
    margin: 5px;
    text-align: center;
    color: #ffffff;
    background: #ff6e40;
    border: 1px solid #ffffff;
    border-radius: 4px;
    transition: all .3s;
   
  }
  
  .product-item:hover .product-image .product-action a {
    margin-top: 0;
  }
  
  .product-item .product-image .product-action a:last-child {
    margin-right: 0;
  }
  
  .product-item .product-image .product-action a:hover {
    color: #ff6e40;
    background: #ffffff;
    border: 1px solid #ff6e40;
  }
  
  .product-item .product-price {
    padding: 20px;
    background: #ff6e40;
    transition: all .3s;
    width: 240px;
  }
  
  .product-item:hover .product-price {
    background: #ff6e40;
  }
  
  .product-item .product-price h3 {
    display: inline-block;
    color: #ffffff;
    margin: 0;
    font-size: 25px;
  }
  
  .product-item .product-price h3 span {
    font-size: 26px;
  }
  
  .product-item .product-image .product-price .btn  {
    float: right;
    border: none;
    font-weight: bolder;
    color: black;
    background: white;
    font-size: 12px;
    top: 75%;
    margin-left: 12%;
  }
  
  .btnShop
  {
  
    border: none;
  position: relative;
  font-size: 16px;
  border-radius: 2px;
  margin-left:35%;
  text-align: center;
  width: 100px;
  font-weight: bold;
  
  }
  
  
  .btn:hover {
  
   transform: scale(1.05);
  }
  .product-item .product-price .btn i {
    margin-right: 5px;
  }
  
  
  .products {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    flex-direction: row;
    padding: auto;
    margin-top: 20px;
    list-style-type: none;
  
    
  }
  
  .products {
    margin-left:250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-family: arial;
  
    
  }
  