.Item-favoris .row .col-5 img{
    margin-top: 5px;
    margin-bottom: -40px;
    width : 100px;
    height: 100px;
}

.Item-favoris .row .col-5 b big{
    margin-bottom: 20px;
    margin-left: 110px;
    color: #ff6e40;
}

.Item-favoris .row .col-5 h6{
    margin-left: 110px;
    color: gray;
}

.box {
     width: 1000px;
     margin-left: 150px;
}

 .Item-favoris .row .col {
     background-color: #ffdc91;
 }

 .Item-favoris .row .col-5 {
    background-color: #ffdc91;

}

.col .btn {
    font-size: 18px;
    color: #ff6e40;
    background-color: white;
    font-size: 18px;
    border-radius: 10px;
    margin-top: 40px;
    margin-left: 150px;
}

